<% if @player1 == "" %>
 <section class="center">
  <h2>You have to provide a name!</h2>
  <form action="/game/new" method="post">
    <input type="text" name="name">
    <h2>And choose an opponent</h2>
     <input id="cpu" class="cpu" type="submit" name="opponent" value="Computer">
     <input id="human" class="human" type="submit" name="opponent" value="TacticalPlayer">
  </form>
<% else %>
  <section class="center">
    <h2>Make your choice <%= @player1 %> !</h2>
  </section>
  <section class="center">
    <form action="/game" method="post">
      <input id="rock" class="rock" type="submit" name="move" value="rock">
      <input id="paper" class="paper" type="submit" name="move" value="paper" required>
      <input id="scissors" class="scissors" type="submit" name="move" value="scissors" required>
    </form>
  </section>
  <section class="center">
    <% if @winner %>
      <h2><%= @winner %> wins</h2>
      <p><a href="/">Start new game</a></p>
      </div>
    <%end%>
    <div class="fight">
      <div class="wrapper" id="first">
        <h2 class="name"><%= @player1.upcase %></h2>
      </div>
      <h2><%= @player2.upcase %></h2>
      <div class="element <%= @player1_move %> fade_in"></div>
      <div class="vs">VS</div>
      <div class="element <%= @player2_move %> fade_in"></div>
    </div>
      <div class="wrapper" id="first">
        <h2 class="score"><%= @player1_score %></h2>
      </div>
    <h2><%= @player2_score %></h2>
  </section>
<% end %>

