<% if !@player1 %>
  <section class="center">
    <h2>You have to provide a name!</h2>
    <form action="/game" method="post" id="form1" name="form1">
    <input type="text" name="name" value"name"><br>
    <input id="classic" class="classic" type="submit" form="form1">
  </form>
  </section>
<% else %>
  <section class="center">
    <h2>Make your choice <%= @player1 %> !</h2>

  </section>
  <section class="center">
    <form action="/game" method="post">
      <input id="rock" class="rock" type="submit" name="move" value="rock">
      <input id="paper" class="paper" type="submit" name="move" value="paper" required>
      <input id="scissors" class="scissors" type="submit" name="move" value="scissors" required>
    </form>
  </section>
   <section class="center">
  <div class="fight">
    <div class="wrapper">
      <div id="first">
        <h2><%= @player1.upcase %></h2>
      </div>
      <div id="second">
        <h2><%= @player2.upcase %></h2>
      </div>
    </div>
    <div class="element <%= @player1_move %> fade_in"></div>
    <div class="vs">VS</div>
    <div class="element <%= @player2_move %> fade_in"></div>
  </div>
  </div>
    <div class="wrapper">
      <div id="first">
        <h2><%= @player1_score %></h2>
      </div>
      <div id="second">
        <h2><%= @player2_score %></h2>
      </div>
    </div>
    <% if @result %>
    <h2><%= @result %> wins</h2>
    <p><a href="/">
    Start new game
    </a></p>
    <%end%>
  </div>
</section>
<% end %>